.competition-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 2px solid #1a1a3d;
    gap: 20px;
}

.competition-info {
    flex: 1;
}

.competition-img img,
.competition-image {
    width: 180px;     /* era 120px */
    height: 130px;    /* puțin mai lat decât înaltă */
    object-fit: cover;
    object-position: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* opțional, efect estetic */
}
