.header {
    background-color: #538dc4;
    height: 80px;
    position: sticky; /* schimbat din relative */
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}
.logo {
    height: 80px;
    margin-right: 10px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav a:hover::after {
    width: 100%;
}

.nav a:hover {
    color: #f0f0f0;
}

.nav a:not(:hover)::after {
    width: 0;
}


